<?xml version="1.0"?>
<model>
  <name>LS2N Flying parallel robot</name>
  <version>1.0</version>
  <sdf version='1.7'>fpr.sdf</sdf>

  <author>
   <name>Damien SIX</name>
   <email>damien.six@ls2n.fr</email>
  </author>

  <description>
    This is a model of the flying parallel robot at LS2N.
  </description>
</model>
