<?xml version="1.0"?>
<model>
  <name>Crazyflie 2.1</name>
  <version>1.0</version>
  <sdf version='1.4'>crazyflie2.sdf</sdf>

  <author>
   <name>Damien SIX</name>
   <email>damien.six@ls2n.fr</email>
  </author>

  <description>
    This is a model of the Bitcraze Crazyflie2.1 quadrotor
  </description>
</model>
