<?xml version="1.0"?>
<model>
  <name>LS2N Flying Parallel Robot Interaction</name>
  <version>1.0</version>
  <sdf version='1.7'>fpr_interaction.sdf</sdf>

  <author>
   <name>Shiyu LIU</name>
   <email>shiyu.liu@ls2n.fr</email>
  </author>

  <description>
    This is a model of the flying parallel robot interacting with an external object at LS2N.
  </description>
</model>
